@import "~src/assets/scss/variables";

@mixin content($margin: 0 auto, $padding: 0 0.9375rem 0 0.9375rem) {
  max-width: 67.75rem;
  padding: $padding;
  margin: $margin;
  flex-grow: 1;
}

@mixin page-host() {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

@mixin page() {
  justify-content: center;
  animation: fadeIn .3s;
  align-items: center;
  display: flex;
  flex-grow: 1;
}
