@import "~src/assets/scss/variables";

$alertTypes: success, warning, danger, info;

@mixin snackbar-content($color) {
  background-color: lighten($color, 38%);
  color: darken($color, 30%);
  border-left-color: $color;
}

@mixin snackbar($type) {
  @if $type == success {
    @include snackbar-content($color--success);
  }
  @if $type == warning {
    @include snackbar-content($color--warning);
  }
  @if $type == danger {
    @include snackbar-content($color--danger);
  }
  @if $type == info {
    @include snackbar-content($color--info);
  }
}

.mat-snack-bar-container {
  background-color: $color--white;
  border: 1px solid lightgray;
  border-left: 3px solid $color--primary;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
  color: $color--black;

  .mat-simple-snackbar {
    font: 500 20px 'Playfair Display', serif;
    justify-content: center;
  }

  @each $alertType in $alertTypes {
    &.#{$alertType} {
      @include snackbar($alertType);
    }
  }
}
